<div class="create-item">
  <div class="create-name"><%= link_to creator.user_name, user_path(creator) %></div>
  <% if @commission %>
    <div class="commission-select">
      <%= link_to "このユーザに依頼する", selected_confirmation_commission_path(@commission, user_id: creator.id), class: "button-orange" %>
    </div>
  <% end %>
</div>