<h2 class="sub-title">制作者一覧</h2>

<%= render partial: "search_form" %>

<div class="creators-list-container">
  <div class="creators-list">
    <%= render partial: "creator", collection: @creators %>
  </div>
</div>