<% days_left = (commission.limit_date - Date.today).to_i %>
<div class="request-item">
  <div class="request-item-left">
    <div class="request-item-upper">
      <div class="request-title">
        <%= link_to commission.title, commission_path(commission) %>
      </div>
    </div>
    <div class="request-item-lower">
      <div class="user-name">
        <%= commission.user.user_name %>
      </div>
    </div>
  </div>
  <div class="request-right">
    <div class="reqard">
      <span class="reward-item-name">報酬</span> : <span class="reward-price"><%= commission.reward %>円</span>
    </div>
    <% if days_left >= Commission::DEADLINE_DAYS %>
      <div class="days-left">
        残り日数 : <span class="days-left-num"><%= days_left %>日</span>
      </div>
    <% end %>
  </div>
</div>