<div class="site-description">
  <div class="site-description-opacity">
    <div class="highlight">思い出を手に取って見てみませんか。</div>
  </div>
</div>
<div class="request-container">
  <div class="request-index-title">
    <h2>依頼一覧</h2>
  </div>
  <div class="request-search">
    <form action="#" class="request-search-form">
      <div class="form-upper">
        <input type="text" placeholder="ここにキーワードを入力" name="search-keyword" class="search-input">
        <input type="submit" value="検索" class="search-button">
      </div>
      <div class="form-lower">
        <label>報酬で絞り込み
          <input type="text" name="reward-lower" class="input-number">
          〜
          <input type="text" name="reward-upper" class="input-number">
        </label>
        <label>応募日数
          <input type="text" name="limit-date" class="input-number">
        </label>
      </div>
    </form>
  </div>
  <div class="requests">
    <div class="request-list">
      <%= render partial: "commissions_item", collection: @commissions, as: "commission" %>
    </div>
  </div>
</div>