<div class="site-description">
  <div class="site-description-opacity">
    <div class="highlight">思い出を手に取って見てみませんか。</div>
  </div>
</div>
<div class="request-container">
  <div class="request-index-title">
    <h2>依頼一覧</h2>
  </div>
  <%= render partial: "search_from" %>
  <div class="creators-link">
    <div class="creators-button">
      <%= link_to "制作者一覧はこちら", creators_path %>
    </div>
  </div>
  <div class="requests">
    <div class="request-list">
      <%= render partial: "commissions_item", collection: @commissions, as: "commission" %>
    </div>
  </div>
</div>