<h2 class="sub-title">依頼詳細</h2>

<%= render partial: "commission", locals: {commission: @commission} %>

<div class="user-button-center">
  <%= link_to session[:return_to_page], session[:previous_url], class: "button-gray" %>
</div>