/* 製作者一覧 */
.creators-list-container{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.creators-list{
  width: 80vw;
  padding-left: 20px;
}

.create-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  background-color: #eec9ac;
}

.commission-select{
  font-size: 12px;
}