.evaluation-container{
  display: flex;
  justify-content: center;
}

.evaluation-box{
  border: 1px solid gray;
  width: 80vw;
  padding: 10px;
  background-color: wheat;
  box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.evaluation-comment-title{
  margin: 10px 20px;
}

.evaluation-comment-container{
  margin-left: 20px;
  padding: 10px;
  background-color: whitesmoke;
}

.evaluation-nothing-comment{
  color: gray;
  font-weight: 600;
  text-align: center;
}