/* サイトヘッダ */
.site-header{
  display: flex;
  justify-content: space-between;
  background-color: #f4e6db;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.user-menu{
  position: relative;
  cursor: pointer;
}

.user-menu:hover > .dropdown-menu{
  display: block;
}

.header-user-name{
  border: 1px solid #834222;
  padding: 5px;
  background-color: #f88639;
  color: white;
}

.dropdown-menu{
  display: none;
  padding: 0;
  list-style: none;
  width: 100px;
  background-color: #eec9ac;
  position: absolute;
  left: 0;
  top: 16px;
}

.dropdown-menu > li{
  cursor: pointer;
  padding: 5px;;
}

.dropdown-menu > li:hover{
  background-color: #f8bd95
}

.dropdown-menu > li > a{
  text-decoration: none;
  color: saddlebrown;
}

.dropdown-menu > li:hover > a{
  text-decoration: none;
  color: wheat;
}

.notification{
  display: inline-block;
  background-color: orange;
}

.notification:hover{
  background-color: #f8bd95;
}

.notification:active{
  background-color: #f06d16;
}

.notification-icon{
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: -6px;
  left: -6px;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}

.site-logo{
  width: 120px;
  height: auto;
}

.header-right{
  display: flex;
  justify-content: space-around;
}

.header-button{
  text-decoration: none;
  border: 1px solid #834222;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
  background-color: #f88639;
  color: white;
}

.header-button:hover{
  background-color: #f8bd95;
}

.header-button:active{
  background-color: #f06d16;
}