/* 共通部分 */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

.sub-title{
  text-align: center;
}

.note{
  color: red;
  font-style: oblique;
  font-size: 12px;
}

.button-orange{
  padding: 5px 20px;
  text-decoration: none;
  background-color: orange;
  color: white;
}

.button-gray{
  padding: 5px 20px;
  text-decoration: none;
  background-color: gray;
  color: white;
}

.user-button-center{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.flash-messages{
  padding: 10px 0;
  background-color: aqua;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.message{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.page-description{
  margin: 25px 0;
  text-align: center;
}

.select-button{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 30px;
}

/* サイトヘッダ */
.site-header{
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  padding: 10px 20px;
}

.site-logo{
  width: 120px;
  height: auto;
}

.header-right{
  display: flex;
  justify-content: space-around;
}

.header-button{
  text-decoration: none;
  border: 1px solid #0078ff;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
  background-color: #00ffff;
  color: #008080;
}

.notification{
  text-decoration: none;
  background-color: orange;
  margin: 2px 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

/* サイトフッタ */
.site-footer{
  background-color: lightgray;
  text-align: center;
  padding: 20px 0;
}

/* サイトトップページ */
.site-description{
  text-align: center;
  color: white;
  font-weight: 600;
  background-image: url("images/site_top_image.jpg");
  background-position: center;
}

.site-description-opacity{
  width: 100%;
  padding: 60px 10px;
  background-color: rgba(0, 0, 0 ,0.3);
  display: flex;
  justify-content: center;
}

.highlight{
  font-size: 20px;
  font-weight: 600;
  border: 1px solid white;
  padding: 30px 40px;
  width: 70vw;
}

.request-index-title{
  text-align: center;
  background-color: aquamarine;
}

.requests{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.request-list{
  width: 80vw;
}

.request-item{
  border: 1px solid #808080;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.user-name{
  font-size: 12px;
  color: gray;
}

.request-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reward-price{
  color: red;
  font-size: 20px;
}

.creators-link{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.creators-button > a{
  width: 60vw;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600¥0;
  padding: 5px 10px;
}

/* ユーザ新規登録/ログイン */
.user-form-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.new_user{
  width: 70vw;
}

.input-item{
  margin-bottom: 30px;
  width: 90%;
}

.form-label{
  margin: 10px 5px;
}

.form-input{
  margin-bottom: 10px;
}

.input-user-text{
  width: 90%;
  padding: 5px 10px;
}

.input-user-text-short{
  width: 100px;
  padding: 2px 5px;
}

.select-box{
  padding: 5px 10px;
}

.new-user-button{
  width: 200px;
  background-color: orange;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
}

.form-submit{
  display: flex;
  justify-content: center;
}

.actions{
  display: flex;
  justify-content: center;
}

/* 依頼作成 */
.commissions-input-form{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 30px;
}

.create-commission-form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text{
  width: 90%;
  height: 150px;
}

/* 依頼詳細画面 */
.commission-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.commission-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commission-content{
  width: 80vw;
  border: 1px solid #808080;
  padding: 10px 20px;
}

.commission-description{
  margin: 10px 0 20px 0;
}

.commission-reward,.limit-date{
  margin: 10px 0;
}

.information-item{
  font-size: 12px;
  color: gray;
}

.important{
  font-size: 18px;
  color: red;
}

.commission-reception{
  display: flex;
  justify-content: center;
}

.commission-reception > a{
  text-decoration: none;
  border: 1px solid #808080;
  padding: 5px 10px
}

.agreement{
  background-color: orange;
  color: white;
  margin-right: 20px;
}

.refuse{
  background-color: lightgray;
  color: white;
}

/* 製作者一覧 */

.creators-list-container{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.creators-list{
  width: 80vw;
  padding-left: 20px;
}

.create-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #808080;
}

/* 取引確認 */
.confirmation{
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

/* ユーザ詳細 */
.user-profile-container{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.user-profile{
  border: 1px solid aqua;
  width: 80vw;
  padding: 10px 20px;
}

.profile-description{
  font-size: 16px;
  font-weight: 600;
}

.user-info-item{
  margin: 10px 0;
}

.user-sub-title{
  font-size: 18px;
  font-weight: 600;
}

.profile-images{
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}

.user-upload-image{
  width: 250px;
  height: auto;
}

/* 検索フォーム */
.search-input-item{
  margin: 10px 0;
}

.request-search{
  display: flex;
  justify-content: center;
}

.request-search-form{
  padding: 10px;
}

.form-upper{
  display: flex;
  margin-bottom: 10px;
}

.search-input{
  width: 100%;
  margin-right: 10px;
  padding: 5px 10px;
}

.search-button{
  width: 100px;
}

.input-number{
  width: 60px;
  padding: 5px 10px;
}

.search-button-container{
  display: flex;
  justify-content: center;
}

/* 検索結果ページ */
.result-count{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

/* 取引ページ */
.chat-main{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 30px;
  margin-bottom: 20px;
}

.chat-form-container{
  background-color: lightcyan;
}

.chat-form{
  width: 100vw;
  padding: 20px 10px;
}

.chat-text-area{
  width: 100%;
  height: 140px;
}

.myself{
  display: flex;
  justify-content: start;
  align-items: center;
}

.partner{
  display: flex;
  justify-content: end;
  align-items: center;
}

.myself-user-name{
  margin-right: 10px;
  font-size: 10px;
  color: gray;
}

.partner-user-name{
  margin-left: 10px;
  font-size: 10px;
  color: gray
}

.post-content{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0 5px;
  font-size: 15px;
}

.post-content > pre{
  margin: 0;
}

.myself-bg-color{
  background-color: lightgreen;
}

.partner-bg-color{
  background-color: lightskyblue;
}

.post-date{
  font-size: 10px;
}