/* 共通部分 */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, rgba(244, 230, 219, 1) 70%, rgba(246, 181, 137, 1));
  font-family: -apple-system, BlinkMacSystemFont;
}

.site-main-container{
  min-height: 80vh;
}

.sub-title{
  text-align: center;
}

.note{
  color: red;
  font-style: oblique;
  font-size: 12px;
}

.button-orange{
  padding: 5px 20px;
  text-decoration: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.button-gray{
  padding: 5px 20px;
  text-decoration: none;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.user-button-center{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.flash-messages{
  padding: 10px 0;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.message{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.page-description{
  margin: 25px 0;
  text-align: center;
}

.select-button{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 30px;
}

.form-button-center{
  display: flex;
  justify-content: center;
}

.form-label-caption{
  width: 90%;
  margin-bottom: 10px;
}