/* 共通部分 */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(180deg, rgba(244, 230, 219, 1) 70%, rgba(246, 181, 137, 1));
  font-family: -apple-system, BlinkMacSystemFont;
}

.sub-title{
  text-align: center;
}

.note{
  color: red;
  font-style: oblique;
  font-size: 12px;
}

.button-orange{
  padding: 5px 20px;
  text-decoration: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.button-gray{
  padding: 5px 20px;
  text-decoration: none;
  background-color: gray;
  color: white;
  cursor: pointer;
}

.user-button-center{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.flash-messages{
  padding: 10px 0;
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.message{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.page-description{
  margin: 25px 0;
  text-align: center;
}

.select-button{
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  margin-bottom: 30px;
}

.form-button-center{
  display: flex;
  justify-content: center;
}

/* サイトヘッダ */
.site-header{
  display: flex;
  justify-content: space-between;
  background-color: #f4e6db;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.user-menu{
  position: relative;
  cursor: pointer;
}

.user-menu:hover > .dropdown-menu{
  display: block;
}

.header-user-name{
  border: 1px solid #834222;
  padding: 5px;
  background-color: #f88639;
  color: white;
}

.dropdown-menu{
  display: none;
  padding: 0;
  list-style: none;
  width: 100px;
  background-color: #eec9ac;
  position: absolute;
  left: 0;
  top: 16px;
}

.dropdown-menu > li{
  cursor: pointer;
  padding: 5px;;
}

.dropdown-menu > li:hover{
  background-color: #f8bd95
}

.dropdown-menu > li > a{
  text-decoration: none;
  color: saddlebrown;
}

.dropdown-menu > li:hover > a{
  text-decoration: none;
  color: wheat;
}

.notification{
  display: inline-block;
  background-color: orange;
}

.notification:hover{
  background-color: #f8bd95;
}

.notification:active{
  background-color: #f06d16;
}

.notification-icon{
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: -6px;
  left: -6px;
  color: white;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
}

.site-logo{
  width: 120px;
  height: auto;
}

.header-right{
  display: flex;
  justify-content: space-around;
}

.header-button{
  text-decoration: none;
  border: 1px solid #834222;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 20px;
  background-color: #f88639;
  color: white;
}

.header-button:hover{
  background-color: #f8bd95;
}

.header-button:active{
  background-color: #f06d16;
}

/* サイトフッタ */
.site-footer{
  background-color: lightgray;
  text-align: center;
  padding: 20px 0;
}

/* サイトトップページ */
.site-description{
  text-align: center;
  color: white;
  font-weight: 600;
  background-image: url("images/site_top_image.jpg");
  background-position: center;
}

.site-description-opacity{
  width: 100%;
  padding: 60px 10px;
  background-image: linear-gradient(308deg, rgba(248, 134, 57, 0.5), rgba(240, 230, 230, 0.5) 56%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-sentence{
  margin: 20px 0;
}

.highlight{
  font-size: 20px;
  font-weight: 600;
  border: 1px solid white;
  padding: 30px 40px;
  width: 70vw;
}

.request-index-title{
  text-align: center;
  background-image: linear-gradient(90deg, rgba(244, 230, 219, 1), rgba(248, 134, 57, 1) 50%, rgba(244, 230, 219, 1));
}

.requests{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.request-list{
  width: 80vw;
}

.request-item{
  border: 1px solid #808080;
  padding: 5px 10px;
  margin-bottom: 20px;
  background-color: #eec9ac;
  box-shadow: 3px 3px 8px 2px rgba(128, 128, 128, 0.4);
}

@media screen and (min-width: 429px) {
  .request-item{
    display: flex;
    justify-content: space-between;
  }
}

.user-name{
  font-size: 12px;
  color: gray;
}

.request-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 428px){
  .request-right{
    margin-top: 10px;
  }
}

.reward-price{
  color: red;
  font-size: 20px;
}

.creators-link{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.creators-button > a{
  width: 60vw;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600¥0;
  padding: 5px 10px;
}

/* ユーザ新規登録/ログイン */
.user-form-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.new_user{
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title{
  border-bottom: 2px solid orange;
  padding: 0 20px;
}

.form-description{
  width: 90%;
  margin-bottom: 10px;
}

.input-item{
  margin-bottom: 30px;
  width: 90%;
}

.form-label{
  margin: 10px 5px;
}

.form-input{
  margin-bottom: 10px;
}

.input-user-text{
  width: 90%;
  padding: 5px 10px;
}

.input-user-text-short{
  width: 100px;
  padding: 2px 5px;
}

.select-box{
  padding: 5px 10px;
}

.new-user-button{
  width: 200px;
  background-color: orange;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
}

.form-submit{
  display: flex;
  justify-content: center;
}

.actions{
  display: flex;
  justify-content: center;
}

/* 依頼作成 */
.commissions-input-form{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-bottom: 30px;
}

.create-commission-form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text{
  width: 90%;
  height: 150px;
}

/* 依頼詳細画面 */
.commission-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.commission-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commission-content{
  width: 80vw;
  border: 1px solid #808080;
  padding: 10px 20px;
  background-color: #eec9ac;
  box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.commission-description{
  margin: 10px 0 20px 0;
}

.commission-reward,.limit-date{
  margin: 10px 0;
}

.information-item{
  font-size: 12px;
  color: gray;
}

.important{
  font-size: 18px;
  color: red;
}

.commission-reception{
  display: flex;
  justify-content: center;
}

.commission-reception > a{
  text-decoration: none;
  border: 1px solid #808080;
  padding: 5px 10px
}

.agreement{
  background-color: orange;
  color: white;
  margin-right: 20px;
}

.refuse{
  background-color: lightgray;
  color: white;
}

/* 製作者一覧 */
.creators-list-container{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.creators-list{
  width: 80vw;
  padding-left: 20px;
}

.create-item{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  background-color: #eec9ac;
}

.commission-select{
  font-size: 12px;
}

/* 取引確認 */
.confirmation{
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

/* ユーザ詳細 */
.user-profile-container{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.user-profile{
  border: 1px solid orange;
  background-color: wheat;
  width: 80vw;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.profile-section{
  margin-bottom: 60px;
}

.profile-headline{
  border-bottom: 2px solid orange;
  padding-left: 10px;
}

.profile-description{
  font-size: 16px;
  font-weight: 600;
}

.user-description{
  border: 1px solid gray;
  background-color: #f5ebd9;
  padding: 10px;
}

.user-info-item{
  margin: 10px 0;
}

.user-sub-title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile-images{
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}

.user-upload-image{
  width: 250px;
  height: auto;
}

.profile-commission-list{
  list-style: none;
  padding-left: 0;
}

.profile-commission-list > li{
  margin: 5px 0;
  border: 1px solid gray;
  background-image: linear-gradient(180deg, rgb(244, 230, 219), rgb(255, 162, 90));
  cursor: pointer;
  height: 50px;
}

.profile-commission-list > li:hover{
  background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 189, 139));
}

.profile-commission-list > li:active{
  background-image: linear-gradient(180deg, rgb(225, 209, 197), rgb(234, 148, 82));
}

.profile-commission-list > li > a{
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}

.dealing-link{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* 検索フォーム */
.search-input-item{
  margin: 10px 0;
}

.request-search{
  display: flex;
  justify-content: center;
}

.request-search-form{
  padding: 10px;
}

.form-upper{
  display: flex;
  margin-bottom: 10px;
}

.search-input{
  width: 100%;
  margin-right: 10px;
  padding: 5px 10px;
}

.search-button{
  width: 100px;
}

.input-number{
  width: 60px;
  padding: 5px 10px;
}

.search-button-container{
  display: flex;
  justify-content: center;
}

/* 検索結果ページ */
.result-count{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

/* 取引ページ */
.dealing-title{
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.chat-main{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 30px;
  margin-bottom: 20px;
  height: 60vh;
  overflow: scroll;
}

.chat-form-container{
  background-color: lightcyan;
  padding: 10px;
  width: 100vw;
}

.chat-form{
  width: 100%;
  padding: 20px 10px;
}

.chat-text-area{
  width: 100%;
  height: 140px;
  font-size: 16px;
}

.myself{
  display: flex;
  justify-content: end;
  align-items: center;
}

.partner{
  display: flex;
  justify-content: start;
  align-items: center;
}

.myself-user-name{
  margin-left: 10px;
  font-size: 10px;
  color: gray;
}

.partner-user-name{
  margin-right: 10px;
  font-size: 10px;
  color: gray
}

.post-content{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0 5px;
  font-size: 15px;
}

.post-content > pre{
  margin: 0;
}

.chat-image{
  width: 200px;
  height: auto;
}

.myself-bg-color{
  background-color: lightgreen;
}

.partner-bg-color{
  background-color: lightskyblue;
}

.post-date{
  font-size: 10px;
}

.chat-empty-message{
  text-align: center;
  font-size: 20px;
  color: gray;
  margin: 20px;
}

.finished-message{
  text-align: center;
  margin: 10px 0;
  font-weight: 600;
}

.cant-post-message{
  text-align: center;
  margin: 10px 0;
}

.dealing-finish{
  display: flex;
  justify-content: end;
  padding: 10px;
}

.finish-confirmation{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 140px;
  border: 1px solid cyan;
  padding: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.5);
  background-color: white;
  display: none;
}

.select-user-button{
  display: flex;
  justify-content: space-around;
}

.form-images{
  background-color: lightblue;
  color: white;
  padding: 5px 20px;
  margin: 5px 10px;
  text-align: center;
  display: inline-block;
}

.hidden{
  display: none;
}

#previews{
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 2px;
}

.preview{
  margin: 0 10px;
}

.preview-image{
  width: 120px;
  height: auto;
}