/* サイトトップページ */
.site-description{
  text-align: center;
  color: white;
  font-weight: 600;
  background-image: url("images/site_top_image.jpg");
  background-position: center;
}

.site-description-opacity{
  width: 100%;
  padding: 60px 10px;
  background-image: linear-gradient(308deg, rgba(248, 134, 57, 0.5), rgba(240, 230, 230, 0.5) 56%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-sentence{
  margin: 20px 0;
}

.highlight{
  font-size: 20px;
  font-weight: 600;
  border: 1px solid white;
  padding: 30px 40px;
  width: 70vw;
}

.request-index-title{
  text-align: center;
  background-image: linear-gradient(90deg, rgba(244, 230, 219, 1), rgba(248, 134, 57, 1) 50%, rgba(244, 230, 219, 1));
}

.requests{
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.request-list{
  width: 80vw;
}

.request-item{
  border: 1px solid #808080;
  padding: 5px 10px;
  margin-bottom: 20px;
  background-color: #eec9ac;
  box-shadow: 3px 3px 8px 2px rgba(128, 128, 128, 0.4);
}

@media screen and (min-width: 429px) {
  .request-item{
    display: flex;
    justify-content: space-between;
  }
}

.user-name{
  font-size: 12px;
  color: gray;
}

.request-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 428px){
  .request-right{
    margin-top: 10px;
  }
}

.reward-price{
  color: red;
  font-size: 20px;
}

.days-left-num{
  color: red;
  font-size: 20px;
}

.creators-link{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.creators-button > a{
  width: 60vw;
  background-color: orange;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600¥0;
  padding: 5px 10px;
}