/* ユーザ詳細 */
.user-profile-container{
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.user-profile{
  border: 1px solid orange;
  background-color: wheat;
  width: 80vw;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px 2px rgba(128, 128, 128, 0.4);
}

.profile-section{
  margin-bottom: 60px;
}

.profile-headline{
  border-bottom: 2px solid orange;
  padding-left: 10px;
}

.profile-description{
  font-size: 16px;
  font-weight: 600;
}

.user-description{
  border: 1px solid gray;
  background-color: #f5ebd9;
  padding: 10px;
}

.user-info-item{
  margin: 10px 0;
}

.user-sub-title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile-images{
  display: flex;
  overflow: scroll;
  border: 1px solid orange;
  background-color: #caab9c;
  padding: 10px 5px;
}

@media  screen and (min-width: 429px) {
  .profile-image{
    margin: 0 5px;
  }
}

@media screen and (max-width: 428px){
  .profile-images{
    flex-direction: column;
    align-items: center;
  }

  .profile-image{
    margin: 5px 0;
  }
}

.achievement_link{
  margin: 10px;
}

.user-upload-image{
  width: 250px;
  height: auto;
}

.profile-commission-list{
  list-style: none;
  padding-left: 0;
}

.profile-commission-list > li{
  margin: 5px 0;
  background-image: linear-gradient(180deg, rgb(244, 230, 219), rgb(255, 162, 90));
  cursor: pointer;
  height: 50px;
}

.profile-finished-item{
  display: flex;
}

.profile-commission-list > li > a{
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}

.dealing-link{
  border: 1px solid gray;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.dealing-link:hover{
  background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 189, 139));
}

.dealing-link:active{
  background-image: linear-gradient(180deg, rgb(225, 209, 197), rgb(234, 148, 82));
}